@import "tailwindcss";

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #262626;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #525252;
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #737373;
    }

    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #525252 #262626;
    }
}